/* fade transition */
/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
} */

a, a::after, a::before {
  /* -webkit-user-select: none; */
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;    
}
